#root {
	width: 100%;
	min-height: 100%;
}

.item {
	background: red;
	width: 150px;
	height: 150px;
	display: inline-block;
	margin: 5px;
}
.treeImg {
	float: right;
	height: 120vh;
	shape-outside: url(/tree.png);
}
